DISCORDLESS_DB_HOST=localhost
DISCORDLESS_DB_PORT=5432
DISCORDLESS_DB_NAME=discordless
DISCORDLESS_DB_USER=postgres
DISCORDLESS_DB_PASSWORD=change-me
DISCORDLESS_DB_QUEUE_TABLE=raw_message_queue
DISCORDLESS_DB_MESSAGES_TABLE=discord_messages
DISCORDLESS_DB_AUTHORS_TABLE=discord_authors
DISCORDLESS_DB_CHANNELS_TABLE=discord_channels
DISCORDLESS_DB_GUILDS_TABLE=discord_guilds
DISCORDLESS_DB_CONNECT_TIMEOUT_SECONDS=5
DISCORDLESS_DB_EXPORTER_POLL_INTERVAL_SECONDS=1
MITM_WEB_PASSWORD=change-me
