__pycache__/
*.py[cod]
*$py.class
.env

dcejson_exports/
html_exports*/
web_exports/
reference material/
traffic_archive*/
*.flow
*.zip
scrapped*
metrics.txt
discordless_mitm.log
mitmproxy
mitmdump
mitmweb